


<header class="mb-auto">
<div class="container">
<h3 class="float-md-start mb-0">Campus Talk</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <link rel="stylesheet" href="/public/css/nav.css">
        
    
   
       
              <a class="nav-link active" aria-current="page" href="/">Home</a>
              <a class="nav-link" href="/about">About</a>
              <a class="nav-link" href="/posts">Chat</a>
              <a class="nav-link" href="/chats">Notice</a>
         
          
              <% if(isAuthenticated){ %>
                <a class="nav-link" href="/users/<%= currentUser.username %>">My Account</a>
                <a class="nav-link" href="/logout">Logout</a>
              <% } else { %>
                <a class="nav-link" href="/users/new">Sign Up</a>
                <a class="nav-link" href="/login">Login</a>
              <% } %>
            
            </nav>
        </div>
      
    </header>