<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Campus talk</h1>
        <P>Campus talk에 오신걸 환영합니다!</p>
      </div>

    </div>
  </body>
</html>