<div class="container p-4 detail">

    <div class="row">
      <div class="col-3">
        <ul class="list-group chat-list">

            <% for (var i=0; i < data.length ; i++){ %>
          <li class="list-group-item" data-id="">
            <h6>채팅방1</h6>
            <h6 class="text-small">채팅방설명</h6>
          </li>
          <% } %>
          
         </ul>
       </div>
  
       <div class="col-9 p-0">
         <div class="chat-room">
            <ul class="list-group chat-content">
              <li><span class="chat-box">채팅방1 내용</span></li>
              <li><span class="chat-box">채팅방1 내용</span></li>
              <li><span class="chat-box mine">채팅방1 내용</span></li>
            </ul>
          <div class="input-group">
            <input class="form-control" id="chat-input">
            <button class="btn btn-secondary" id="send">전송</button>
          </div>
        </div>
      </div>
    </div>
  
  </div> 